@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.user {
  max-width: 100%;
  padding: 5px;
  border: 1px solid $borderColor;
  cursor: pointer;
  position: relative;
  margin: 5px 0;
  border-radius: 5px;

  &_remove {
    position: absolute;
    width: 15px;
    opacity: .5;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    transition: opacity .2s;
    cursor: pointer;

    @media screen and (max-width: 680px) {
      width: 20px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &_content {
    @include flex(row, space-between, center);
    margin-left: 25px;
    overflow: hidden;

    @media screen and (max-width: 680px) {
      @include flex(column, center, start);
      margin-left: 15%;
    }

    &_info {
      color: $textColor;
      min-width: 200px;

      .user_content_selected {
        background-color: $backgroundColorSecond;
        color: $backgroundColorError;
      }

      .user_content_title {
        font-weight: 500;

        @media screen and (min-width: 681px) {
          display: none;
        }
      }
    }
  }

  .modal {
    width: 40vw;
    padding: 40px;
    background: $backgroundColor;
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: default;
    transform: translateY(-50%);
    color: $textColor;
    border-radius: 10px;

    @media screen and (max-width: 680px) {
      width: 70vw;
    }

    &_content {
      font-weight: 700;
    }

    &_close {
      @extend .user_remove;
      width: 20px;
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-50%, 0);
      padding: 5px 30px 0 0;
    }
  }
}